<template>
  <div id="wrapper">
    <p>hello world</p>
    <!-- <a-button>hello world</a-button> -->
  </div>
</template>

<script>
//import SystemInformation from './LandingPage/SystemInformation'
export default {
  name:"landing-page",
}
</script>

<style>
</style>
