body{
  padding:2rem;
  max-width: 38rem;
  margin:auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

#holder{
  width:400px;
  height:400px;
  background-color:gray ;
}

#holder h1{
  font-size: 30px;
}